<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416800550219-munmu2hrkpnfng733koimgc02botm6l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416800550219-munmu2hrkpnfng733koimgc02botm6l3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>416800550219-rojpqlruttmfqdiaap7vh0oujf14jfb3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjrP0o4MXSVENpyDRQ5oEB10qpfrAxsdE</string>
	<key>GCM_SENDER_ID</key>
	<string>416800550219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunflowerapps.newsstand-app</string>
	<key>PROJECT_ID</key>
	<string>newsstand-today</string>
	<key>STORAGE_BUCKET</key>
	<string>newsstand-today.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:416800550219:ios:0fa80f35d1c81d3b5a8cce</string>
	<key>DATABASE_URL</key>
	<string>https://newsstand-today.firebaseio.com</string>
</dict>
</plist>
